# Python
__pycache__/
*.pyc
*.pkl
*.log

# Data (DO NOT COMMIT)
data/
*.tsv
*.csv

# OS
.DS_Store

# Virtual env
venv/
.env/

# Model artifacts
*.ckpt
*.pt
*.bin
*.h5

# Experiment outputs
results/
checkpoints/
logs/
wandb/
runs/

